<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Netcode.vn - Trang không tồn tại</title>

        <link rel="stylesheet" href="/css/index.css" />
        <meta key="description" name="description" content="URL của nội dung này đã bị thay đổi hoặc không còn tồn tại." />

        <meta key="og:title" property="og:title" content="Netcode.vn - Trang không tồn tại" />
        <meta key="og:image" property="og:image" content="https://netcode.vn/images/izgdwacbGc.png" />
        <meta key="og:description" property="og:description" content="URL của nội dung này đã bị thay đổi hoặc không còn tồn tại." />
    </head>
    <body>
        <div class="relative">
            <div class="status code">404</div>
            <div class="status found">NOT FOUND</div>
        </div>
    </body>
</html>
